.card-header{
    margin-top: 1em;
}

.modal-dialog {
    max-width: 800px;
    margin: 100px auto;
}



.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}


.youtube-modal {
    background-color: transparent;
    border-color: transparent;
}

.youtube-modal:hover {
    background-color: transparent;
    border-color: transparent;
}

.youtube-modal .btn-primary{
    background-color: transparent;
    border-color: transparent;
}



body {
    background-image: linear-gradient(to bottom, #ffffff, #fbfbfb, #f7f7f7, #f4f4f4, #f0f0f0);
}

.stempro {
    padding-left: 25px;
    padding-right: 25px;
    border-top: 3px solid #66518E;
    border-bottom: 3px solid #66518E;
}

.icon {
    width: 35px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.whatsapp {
    background-image: url("../img/icons/ico-whatsapp.png");
}

.facebook {
    background-image: url("../img/icons/ico-facebook.png");
}

.twitter {
    background-image: url("../img/icons/ico-twitter.png");
}

.youtube {
    background-image: url("../img/icons/ico-youtube.png");
}

.instagram {
    background-image: url("../img/icons/ico-instagram.png");
}

.card-header {
    cursor: pointer;
}

.card-header .mb-0 button{
    font-size: 0.9em ;
}

/* CSS Method for adding Font Awesome Chevron Icons */
.acc-link:after {
    font-family:'FontAwesome';
    font-size: 1.1em;
    font-weight: bold;
    content:"\f105";
    float: left;
    color: inherit;
    padding-right: 5px ;
}

button[aria-expanded="true"]{
    background-color: #66518E;
    color: white;
}

button[aria-expanded="true"]:after {
    content:"\f107";
}

.acc-link:hover{
    color: white;
    background-color: #66518E;
}

.acc-link {
    color: #66518E;
    background-color: white;
    text-align: left;
    border: #66518E 1px solid;
    border-radius: 50px;
}

.acc-link a{
    color: #66518E;
    font-size: 0.8em;
    float: right;
}

.acc-link i:hover{
    color: white;
}


.card-header {
    padding: 0px;
}


.card-body {
    padding: 0.8em;
}


section {
    padding: 2em;
}

footer {
    text-align: right;
    height: auto;
    /*bottom: 0;*/
    width: 100%;
    background: #66518E;
    color: white;
}

h1 {
    color: #66518E;
}

h6 {
    font-weight: bold;
}

li.active {
    border-bottom: #66518E 2px solid;
}


#navBarItems {
    padding-right: 1em;
}

#navStempro {
    margin-top: -40px;
    margin-bottom: 10px;
    margin-right: -10px;
    background-color: white !important;
}

#mainSlider {
    /*max-height: 500px;*/
}


#headerContacto {
    background-color: #efefef !important;
}

#header {
    /*padding-top: 1em;*/
    background-color: white;
}

#trat-clinicos-header {
    background-image: url('../img/clinico.jpg');
}

#trat-cosmeticos-header {
    background-image: url('../img/cosmeticos.jpg');
}

#trat-ortopedia-header {
    background-image: url('../img/ortopedia.jpg');
}

#socialIcons {
    /*padding-right: 1em;*/
    z-index: 1;
    position: relative;
    background-color: transparent;
}

#socialIcons ul li{
    /*padding-right: 1em;*/
    padding-top: 1em;
}



#footerBranding > div > img {
    width: 75px;
}


#navBarItems {
    right: 0;
    bottom: 5%;
    position: absolute;
}

#navBarItems li{
    /*-ms-transition:width 1s ease-in;*/
    /*-webkit-transition:width 1s ease-in;*/
    transition: width 2s;
}

#navBarItems li:hover{
    /*-ms-transition:all .5s ease-in;*/
    /*-webkit-transition:all .5s ease-in;*/
    /*transition:all .5s ease-in;*/
    border-bottom: #66518E 2px solid;
}

.borderless td, .borderless th {
    border: none;
}

#bottomNav tr td{
    padding: 0.2em;
    text-decoration: underline;
    text-decoration-color: #ac94e5;
}

#bottomNav tr td a{
    color: white;

}

#bottomNav tr td a:after {
    /*font-family:'FontAwesome';*/
    font-size: 1.1em;
    font-weight: bold;
    content:">";
    float: left;
    color: inherit;
    padding-right: 5px ;
}

.fa {
    color: #66518E;
    font-size: 1.1em;
}

.section-header {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
}

.section-header > div > h1 {
    color: white;
    text-shadow: 2px 2px #000000;
}

.navbar-brand img {
    width: 250px;
}

.card {
    border: none !important;
}

.card-header {
    text-align: center;
    border: none;

}

.everyOther {
    background-color: #efefef;
}

.negrita {
    font-weight: bold;
}

.faq {
    padding-top: 1em;
}


.regPadding {
    padding: 1em;
}

.top-jumbotron {
    height: 315px;
}

.tab-tittle {
    text-align: center;
}

.card-header {
    background-color: white;
}

.fa-plus:hover {
    color: white;

}

#accordion {
    font-family: 'Roboto', Arial, sans-serif;
}

#accordion .card {
    padding: 0.8em;
}

.standout-text {
    text-align: justify;
    font-size: 1.2em;
}

.leftHeader {
    text-align: left;
}