section {
    padding: 2em;
}

footer {
    text-align: right;
    height: 250px;
    /*bottom: 0;*/
    width: 100%;
    background: #66518E;
    color: white;
}

h1 {
    color: #66518E;
}

h6 {
    font-weight: bold;
}

li.active{
    background:  url("../img/menu-activo.png") no-repeat;
    background-size: 100% 100%;
}

li.active>a{
    color: white !important;
}

a.nav-link.dropdown-toggle::after{
    display: none;
}

#mainNav>ul>li{
    /*width: 120px !important;*/
    text-align: right;
    min-width: 100px;
}

#mainNav>ul>li>a{
    text-align: right;
    font-size: 0.83rem;
}

#navStempro {
    /*padding: 25px;*/
    margin-top: -40px;
    /*z-index: -1;*/
    /*position:relative;*/
    margin-bottom: 10px;
}

#mainSlider {
    /*max-height: 500px;*/
}

#headerContacto {
    background-color: #efefef !important;
}

#header {
    padding-top: 1em;
    /*padding-bottom: 1em;*/

    /*margin-bottom: -40px;*/

}

#trat-clinicos-header {
    background-image: url('../img/clinico.jpg');
}

#trat-cosmeticos-header {
    background-image: url('../img/cosmeticos.jpg');
}

#trat-ortopedia-header {
    background-image: url('../img/ortopedia.jpg');
}


#socialIcons{
    padding: 0px;
    z-index: 1;
    position:relative;

}

#footerBranding>div>img{
    width: 75px;
}


/*align the navbar to the right*/
#navBarItems {
    right: 0;
    bottom: 5%;
    position: absolute;
}

.fa{
    color: #66518E;
    font-size: 1.1em;
}

.section-header {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
}

.section-header>div>h1 {
    color: white;
    text-shadow: 2px 2px #000000;
}

/*move branding*/
/*.navbar-brand {*/
    /*transform: translateX(-50%);*/
    /*left: 10%;*/
    /*bottom: 5%;*/
    /*position: absolute;*/
/*}*/

.navbar-brand img {
    width: 300px;
}

.card {
    border: none;
}

.card-header {
    text-align: center;

}

.everyOther {
    background-color: #efefef;
}

.negrita {
    font-weight: bold;
}

.faq {
    padding-top: 1em;
}

.faq .card {
    padding: 1em;
}

.faq .card .card-text{
    padding: 1em;
}

.regPadding {
    padding: 1em;
}

.top-jumbotron {
    height: 315px;
}

.tab-tittle {
    text-align: center;
}